<%= turbo_frame_tag(dom_id message) do %>
  <div
    class="mx-auto rounded shadow-lg border overflow-hidden mt-5 bg-white"
    data-controller="message-appears"
  >
    <div class="p-4 text-sm font-medium text-gray-700">
      <%= message.text %>
    </div>
  </div>
<% end %>
